body {
  font-family: 'Nunito', sans-serif;
}

.game-card {
  width: 30%;
  margin: 2em auto 0 auto;
  padding: 1em;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0 0 5px;
}

h2 {
  margin: 0 auto 0.3em auto;
  padding: 0;
}

.game-card select, button {
  background-color: white;
  border: 1px solid black;
  margin: 0.5em 0.1em;
  font-size: 16px;
}

.game-card select {
  padding: 4px 2px;
}

.game-card button {
  padding: 5px 5px 4px 5px;
}

.game-card button:hover {
  background-color: gray;
  color: white;
}

.game-card button:active {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .game-card {
    width: 40%;
  }
}

@media only screen and (max-width: 800px) {
  .game-card {
    width: 50%;
  }
}

#game-canvas {
  width: 100%;
}
